@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500;900&display=swap');

body {
  background: #fbf5e5;
  margin: auto 30px;
  color: #008CBA;
  

}


.header {
  box-shadow: 5px 5px 15px lightgrey;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-content:center;
  margin: 0;
  min-width: max-content;
}

main {
  padding-bottom: 100px ;
 }

.title {
  text-align: center;
  font-size: 1.25rem;
  font-family: 'Tajawal', sans-serif;
  font-weight: 900;
}

p {
  padding: 2px 2rem;
  font-size: 1rem;
  font-family: 'Tajawal', sans-serif;
  font-weight: 500;
}

img {
  display: block;
  width: 50%;
  float: right;
  margin-bottom: 20px;
  max-width: 500px;
}

.profilo {
  width: 25% ;
  border-radius:  50%;
}


.programma {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
  max-width: max-content;
}

.logo-image{
  margin-top: 15px;
  height: 3rem;
  width: 3rem;
}

.istruttore {
    background-color: rgb(223, 151, 17); 
    color: #008CBA; 
    padding: 10px 25px;
    border: 2px solid #008CBA;
    text-decoration: none;
  }
  
a:hover {
    background-color: #008CBA;
    color: white;
  }

.fa-whatsapp {
  font-size:48px;
  color:#fff;
  background-color: lightgreen;
}

.fa-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  font-size: 48px;
  color:rgb(255, 255, 255);  
} 

.fa-whatsapp, .fa-instagram , .logo-image {
  margin: 10px;
  border-radius: 10px;
  padding: 2px;
}
  

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    background-color: #7c735a;
    height: 75px;
    width:100%;
    padding: 3px 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
